.boddy{
  background: url("images/1.jpg")
  width: 20%;
  radius:50%;
  background-image: center;
  background-color: skyblue;
  text-align: center;
}
p{
  text-align border-top ;
}
{
  background-color: skyblue
}
